<div class="wrapper wrapper-full-page wrapper-white">
  <div
    class="page-header pricing-page header-filter"
    style="background-image: url('./assets/img/homepage_background.jpg'); background-size: cover; background-position: top center;"
  >
    <div class="container">

      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title" style="color: black">Frequently asked questions</h2>
          <h5 class="description" style="color: black">Answers to questions you may be interested in.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose">
              <h4 class="card-title">General Questions</h4>
            </div>
            <div class="card-body">

              <mat-accordion [multi]="true">
                <mat-expansion-panel [expanded]="false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      What is this app for?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="card-description">
                    Maybe a smidge of context first: In the past 5 years we lost
                    2 dear friends to bowel cancer while they were still in
                    their 20s. In both cases, after their doctors had
                    essentially given up on them, they asked us to try and find
                    any information we can for cutting-edge technology or
                    treatment options that might help them.
                    <br><br>
                    Naturally, we started scouring the web; clinical-trials,
                    academic articles, emailing professors and medical
                    professionals we knew from our time in academia, all the
                    way down to forums, Reddit, and the such. What we realised
                    at the time was how hard it was to distinguish between
                    viable science, anecdotal information, and outright scams.
                    Even when it came to legitimate clinical-trials and
                    articles it was often hard to make sense of what each
                    trial aimed at doing and what treatment participants
                    would receive.
                    <br><br>
                    As such, we decided that it shouldn't be this hard to make
                    sense of the treasure-trove of information that exists on
                    the web when it comes down to an ailment and the treatment
                    options one might have. We decided that just because some
                    doctor says there's nothing more they can do that there's
                    isn't someone else out there that can do more. We hoped
                    that by putting together an app that allows a person to
                    find all options they may have that they'd have a fighting
                    chance. Hence FightFor was envisioned.
                    <br><br>
                    What FightFor does is by no means magic nor does it
                    constitute medical advice. It brings together data from a
                    variety of incredible resources which are, however, hard to
                    navigate and understand. It joins the data across these
                    resources together, cleans up the data as much as possible
                    and allows the user to search for a disease and be
                    presented with clinical-trials around the world in, what
                    we hope is, a simplified manner attempting to make the aim,
                    criteria, and procedures of a trial understandable by an
                    everyday person. It also provides aggregate information
                    with trials by country, institution, treatment modality,
                    etc. We would not presume to tell you what you need to do.
                    What we can do is help you find who you could reach out in
                    order to get the help you may need.
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Why should I use your service? Can't I just find this
                      information on my own?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="card-description">
                    You absolutely, positively can! In fact if you look under
                    the 'Privacy & Transparency' panel you'll see we list out
                    all our data-sources and how you can and how you can
                    explore, search through them, and even download copies of
                    your own!
                    <br><br>
                    The reason we put this service together was because we found
                    that, while invaluable, existing datasets and their
                    corresponding resources are difficult to navigate and often
                    geared towards academics or medical professionals. The data
                    presented in those resources are teeming with complex
                    terminology that makes it hard for the average person to
                    make an informed decision or appeal to the right people.
                    <br><br>
                    In addition, as a lot of the data available in the
                    aforementioned resources are entered manually by real people
                    they tend to be non-canonical and difficult to disambiguate.
                    For example, exploring said datasets you will find that the
                    city of Zurich, Switzerland appears as 'Zürich', 'Zurich',
                    and 'Zuerich', making hard to find all clinical-trials
                    performed in that location. This trend is even more apparent
                    when attempting to find information on a clinic/hospital.
                    For example, the renowned
                    <a href="https://www.mayoclinic.org/">Mayo Clinic</a> is a
                    massive institution and can appear in the datasets as
                    'Mayo Clinic Jacksonville', 'Mayo Clinic - Jacksonville',
                    'Mayo Clinic in Arizona', 'Mayo Clinic Arizona', too name
                    but a few. As such, getting any aggregate information on a
                    location, institution, or even disease and treatment becomes
                    incredibly cumbersome.
                    <br><br>
                    These are some of the problems FightFor tries to solve:
                    <ul>
                      <li>
                        Bringing together data from disparate data-sources and
                        joining them in a consistent manner.
                      </li>
                      <li>
                        Displaying the collected information in a structured
                        and simplified manner that can be explored and
                        understood by the average person.
                      </li>
                      <li>
                        Accounting for discrepancies in the data and 'cleaning'
                        it by canonicalizing terminology, locations,
                        institutions, etc.
                      </li>
                      <li>
                        Providing aggregate information with regards to
                        diseases, treatments, facilities, etc.
                      </li>
                    </ul>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose">
              <h4 class="card-title">Privacy & Transparency</h4>
            </div>
            <div class="card-body">

              <mat-accordion [multi]="true">
                <mat-expansion-panel [expanded]="false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Where does the data I see come from? Can I trust it?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="card-description">
                    We wanna be as transparent and honest as possible so here
                    are the sources we tap into to display the data you see:
                    <br><br>
                    <ul>
                      <li>
                        <a href="https://clinicaltrials.gov/">ClinicalTrials.gov</a>
                        : ClinicalTrials.gov is a fantastic resource provided by the
                        <a href="https://www.nlm.nih.gov/">U.S. National Library of Medicine (NLM)</a>,
                        the world's largest medical library.
                        <br><br>
                        This resource serves as a free portal where previously
                        completed, ongoing, and even future clinical-trials
                        around the world are registered and made available to
                        the general public.
                        <br><br>
                        Information on downloading the ClinicalTrials.gov data
                        can be found under <a href="https://clinicaltrials.gov/ct2/resources/download">https://clinicaltrials
                        .gov/ct2/resources/download</a>
                        while the entire dataset can be downloaded as a large
                        collection of XML files under
                        <a href="https://clinicaltrials.gov/AllPublicXML.zip">https://clinicaltrials.gov/AllPublicXML.zip</a>.
                        These files can be parsed or viewed with any standard
                        XML parser/editor while the XSD schema can be found
                        under
                        <a href="https://clinicaltrials.gov/ct2/html/images/info/public.xsd">https:// clinicaltrials.gov/ct2/html/images/info/public.xsd</a>.
                        <br><br>
                        We ingest the data-dump mentioned above but in order to
                        keep our datasets up to date we depend on the RSS feed
                        available under
                        <a href="https://clinicaltrials.gov/ct2/results/rss.xml">https://clinicaltrials.gov/ct2/results/rss.xml</a>
                        to learn what studies have been updated/added which we
                        check every few minutes. For every new/updated entry, we
                        retrieve the corresponding study in the same XML format
                        as above by using its ID and retrieving through a URL
                        such as
                        <a href="https://clinicaltrials.gov/ct2/show/NCT00001372?displayxml=true">https://clinicaltrials.gov/ct2/show/NCT00001372?displayxml=true</a>.
                      </li>
                      <br><br>
                      <li>
                        <a href="https://www.ncbi.nlm.nih.gov/pubmed/">PubMed/MEDLINE</a>
                        : PubMed is a free search-engine provided by the
                        <a href="https://www.nlm.nih.gov/">U.S. National Library of Medicine (NLM)</a>
                        which allows one to search and browse the data in the
                        <a href="https://www.nlm.nih.gov/bsd/medline.html">MEDLINE</a>
                        database of references and abstracts on life sciences
                        and biomedical topics.
                        <br><br>
                        This resource provides an up-to-date index of academic
                        articles relating to medical topics and can be used to
                        understand what the state-of-the-art is in terms of
                        treatments, our understanding of diseases, and the human
                        body in general.
                        <br><br>
                        Everything you need to know to retrieve this data can be
                        found under
                        <a href="https://www.nlm.nih.gov/databases/download/pubmed_medline.html">https://www.nlm.nih.gov/databases/download/pubmed_medline.html</a>.
                        The MEDLINE data can be downloaded via FTP from
                        <a href="ftp://ftp.ncbi.nlm.nih.gov/pubmed/baseline">ftp://ftp.ncbi.nlm.nih.gov/pubmed/baseline</a>
                        where an annually released baseline collection of XML
                        files is stored. In addition, daily updates to the
                        aforementioned baseline are released under
                        <a href="ftp://ftp.ncbi.nlm.nih.gov/pubmed/updatefiles/">ftp://ftp.ncbi.nlm.nih.gov/pubmed/updatefiles/</a>
                        . The DTD schema to which the XML files adhere can be
                        found under
                        <a href="https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_180101.dtd">https://dtd.nlm.nih.gov/ncbi/pubmed/out/pubmed_180101.dtd</a>
                        while
                        <a href="https://www.nlm.nih.gov/bsd/licensee/data_elements_doc.html">https://www.nlm.nih.gov/bsd/licensee/data_elements_doc.html</a>
                        provides some very useful documentation with regards to
                        the file-format.
                        <br><br>
                        We ingest the baseline data once a year when released
                        and update our data with the daily-released files as
                        they become available. Following the recommendation of
                        the PubMed/MEDLINE staff, our entire PubMed database is
                        wiped and re-ingested on an annual basis to ensure we
                        have an accurate copy of the data.
                      </li>
                      <br><br>
                      <li>
                        <a href="https://www.ncbi.nlm.nih.gov/mesh">Medical Subject Headings (MeSH)</a>
                        Another wonderful resource provided by the
                        <a href="https://www.nlm.nih.gov/">U.S. National Library of Medicine (NLM)</a>
                        which defines a carefully moderated thesaurus of medical
                        vocabulary.
                        <br><br>
                        This thesaurus provides a standardized way of referring
                        to diseases, treatments, medication, etc in order to
                        disambiguate between their different names and ensure an
                        understanding of what clinical-trials and academic
                        articles refer to.
                        <br><br>
                        An interactive browser and search-engine of the MeSH
                        dataset can be found under
                        <a href="https://meshb.nlm.nih.gov/search">https://meshb.nlm.nih.gov/search</a>
                        . The MeSH dataset can be downloaded in a variety of
                        formats under
                        <a href="https://www.nlm.nih.gov/databases/download/mesh.html">https://www.nlm.nih.gov/databases/download/mesh.html</a>
                        where documentation and schemata for the different
                        formats can be found as well.
                        <br><br>
                        We ingest the XML data on an annual basis by retrieving
                        and processing the XML files over FTP from
                        <a href="ftp://nlmpubs.nlm.nih.gov/online/mesh/MESH_FILES/xmlmesh/">ftp://nlmpubs.nlm.nih.gov/online/mesh/MESH_FILES/xmlmesh/</a>
                        .
                      </li>
                      <br><br>
                      <li>
                        <a href="https://www.nlm.nih.gov/research/umls/">Unified Medical Language System (UMLS)</a>
                        : UMLS is, at its core, a meta-thesaurus, and provides
                        definitions, synonyms, as well as links between
                        different medical terms.
                        <br><br>
                        Information on downloading this dataset can be found
                        under
                        <a href="https://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html">https://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html</a>
                        . However, at the time of writing, in order to retrieve
                        this data one needs a UMLS account which can be
                        requested by contacting the UMLS stuff under
                        <a href="https://uts.nlm.nih.gov/license.html">https://uts.nlm.nih.gov/license.html</a>
                        . We should mention that we found the UMLS staff to be
                        extremely helpful so upon application you should receive
                        your credentials within a few days. Once retrieved the
                        dataset needs to be processed via the UMLS MetamorphoSys
                        tool information on which can be found under
                        <a href="https://www.nlm.nih.gov/research/umls/implementation_resources/metamorphosys/help.html">https://www.nlm.nih.gov/research/umls/implementation_resources/metamorphosys/help.html</a>.
                        <br><br>
                        This dataset is released on a semi-annual basis which we
                        retrieve, process with UMLS MetamorphoSys, and then use
                        the resulting files to retrieve MeSH synonyms and
                        definitions. These are used to allow a user to search
                        via colloquial terms like 'bowel cancer' and retrieve
                        data associated with the canonical MeSH term, e.g.,
                        'Colorectal Carninoma'. In addition, we use the UMLS
                        data to provide simple definitions for the various terms
                        that appear in this app.
                      </li>
                    </ul>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Why are you asking for my email address?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="card-description">
                    We truly don't want your email address! Unfortunately there's only two of us so we couldn't roll out our own functionality for things like authentication, error-reporting & feedback, and live-chat. For these features we had to depend on external services (see XXX) which typically require you, the user, to provide an email address.
                    <br><br>
                    The email address you provide upon signing up is used for:
                    <br><br>
                    <ul>
                      <li>
                        Receiving password reset emails in case you've forgotten your password.
                      </li>
                      <li>
                        Responding to feedback you may provide us with in case you encounter an error in our application. We would typically use this to apologise for any error you might have encountered and notify you when said error is resolved.
                      </li>
                      <li>
                        Responding to a question you may raise via our live-chat widget as we may not be online when you reach out but we'd really love to get back to you and help in any way we can.
                      </li>
                    </ul>
                    However, we encourage you to take your privacy in your own hands and not give us your 'real' email address! There are dozens of entirely free disposable services online that can create a 'fake' email address you can use with this or any other service. You can use these fake addresses to sign up on different services but since most services require you to receive and verify an email, these services also allow you to check the 'virtual' mailboxes associated with these addresses for incoming messages and perform some verification action, password reset, etc.
                    <br><br>
                    A few such services, which we've researched and tested ourselves, are:
                    <br><br>
                    <ul>
                      <li>
                        <a href="https://maildrop.cc/">Maildrop</a>
                      </li>
                      <li>
                        <a href="https://www.mailinator.com/">Mailinator</a>
                      </li>
                      <li>
                        <a href="https://mailsac.com/">MailSac</a>
                      </li>
                      <li>
                        <a href="https://www.guerrillamail.com">GuerrillaMail</a>
                      </li>
                      <li>
                        <a href="https://temp-mail.org">TempMail</a>
                      </li>
                    </ul>
                    A simple Google search for 'disposable email address' or 'temporary email address' will yield dozens of services like the ones above. Just make sure to select a service where the 'fake' address doesn't expire so you will be able to use it in the future should you forget your password. We suggest that you carefully read the documentation of the service you decide to go with and make sure it's right for your purposes.
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose">
              <h4 class="card-title">Pricing</h4>
            </div>
            <div class="card-body">
              <mat-accordion [multi]="true">
                <mat-expansion-panel [expanded]="false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Why isn't this service free?
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="card-description">
                    Sigh, we wish we could provide this service for free but we just don't have the money. We did not want to allow for external investors to dictate how this service is operated and we feel that tracking our users and selling their data to ad-agencies would be deplorable, especially given the sensitive nature of data around a person's health and wellbeing. Thus, we're funding this service entirely out of our own savings and it isn't cheap. Our database is currently sitting at 60GBs and growing constantly and this doesn't account for DB backups, server-costs to keep the data up-to-date, additional server-costs to search through and aggregate the data, bandwidth costs, external services, etc.
                    <br><br>
                    In addition, we were tired of working day-in and day-out realizing someone else's dream and we wanted to do something that may actually help people. Hence, we're hoping that this service can help support us so that we can stop working for one massive corporation or another and allow us to focus on work that actually fulfils us.
                    <br><br>
                    There's no guarantee that FightFor will work out. People might not want to pay for data that is publicly available. They might feel that it doesn't provide enough additional value to justify the cost. People might never trust a service that deals with sensitive information regarding their health. For all we know we might be unable to offset the cost of running this service and have to get a job again. However, we believe in what this service is trying to accomplish so should we fail we promise to open-source the entirety of our code and hopefully someone out there will have the means to provide it to people for free.
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
