<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
  <div class="container-fluid">
    <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <app-breadcrumbs></app-breadcrumbs>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li
          class="nav-item"
        >
          <a
            class="nav-link"
            style="cursor: pointer;"
            [matMenuTriggerFor]="menu"
          >
            <img
              [src]="authService.userProfile?.picture || '../../../assets/img/placeholder.jpg'"
              class="avatar-small"
            >
          </a>
          <mat-menu
            #menu="matMenu"
            [overlapTrigger]="false"
            yPosition="below"
          >
            <button mat-menu-item (click)="onLogout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
