<nav
  class="navbar navbar-expand-lg bg-primary navbar-transparent navbar-absolute"
>
  <div class="container">
    <div class="navbar-wrapper">
      <a class="navbar-brand d-none d-sm-none d-md-block"
         style="color:#F65C50"
         [routerLink]="['/']"
      >
        <img
          src="../assets/img/fflogo_coral.svg"
          alt="Fight for logo"
          height="160%"
          width="160%" />
      </a>
    </div>
    <div class="justify-content-end" style="color:#F65C50">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/features']">
            Features
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/pricing']">
            Pricing
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="authService.isAuthenticated()"
        >
          <a class="nav-link" [routerLink]="['/app']">
            Go to app
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="!(authService.isAuthenticated())"
        >
          <a
            class="nav-link"
            style="cursor: pointer;"
            (click)="onLoginRegister()"
          >
            <i class="material-icons">fingerprint</i> Login/Register
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngIf="authService.isAuthenticated()"
        >
          <a
            class="nav-link"
            style="cursor: pointer;"
            [matMenuTriggerFor]="menu"
          >
            <img
              [src]="userProfile?.picture || '../../../assets/img/placeholder.jpg'"
              class="avatar"
            > {{ userProfile?.nickname || userProfile?.name || userProfile?.email }}
          </a>
          <mat-menu
            #menu="matMenu"
            [overlapTrigger]="false"
            yPosition="below"
          >
            <button mat-menu-item (click)="onLogout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://creative-tim.com/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">
            Disclaimer
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; 2018, bearnd
    </div>
  </div>
</footer>
