<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card search-card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">New Search</h4>
            <p class="card-category">Create a new Search</p>
          </div>
          <div class="card-body">
            <p>&nbsp;</p>
            <button class="btn btn-danger mat-raised-button pull-right search-card-button" style="align-self: flex-end;">
              <span class="mat-button-wrapper">New Search</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngFor="let search of searches">
        <div class="card search-card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{ search.title }}</h4>
            <p class="card-category">{{ search.description }}</p>
          </div>
          <div class="card-body">
            <p>Somethign something something</p>
            <button class="btn btn-danger mat-raised-button pull-right search-card-button">
              <span class="mat-button-wrapper">See More</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
