<div class="wrapper wrapper-full-page wrapper-white">
  <div class="page-header pricing-page header-filter" style="background-image: url('../assets/img/homepage_background.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <div class="mat-progress-spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
