.tos-header {
  color: black;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1em;
}

.tos-header-ol {
  color: black;
  font-weight: bold;
  padding-left: 0;
  font-family: Helvetica;
  font-size: 1em;
}

.tos-header-ol-sublist {
  color: black;
  font-family: Helvetica;
  font-size: 1em;
}

.container-padding {
  padding: 5%;
  font-family: Helvetica;
  font-size: 1em;
}

.legal-text {
  color: black;
  font-family: Helvetica;
  font-size: 1em;
}
