<div class="wrapper wrapper-full-page wrapper-white">
  <div
    class="page-header pricing-page header-filter"
    style="background-image: url('./assets/img/homepage_background.jpg'); background-size: cover; background-position: top center;"
  >
    <div class="container">

      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title" style="color: black">Terms of Service</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
<!--          TODO(nancy): Add content here-->
        </div>
      </div>

    </div>
  </div>
</div>
