<div class="main-content">

  <div
    class="mat-progress-spinner-container"
    *ngIf="userConfigService.isLoadingUser | async"
  >
    <mat-spinner></mat-spinner>
  </div>

  <div
    class="container-fluid"
    *ngIf="!(userConfigService.isLoadingUser | async)"
  >

    <div class="row">
      <h3>Recent Searches</h3>
    </div>
    <div class="row">

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card new-search-card" (click)="onNewSearch()">
          <i class="material-icons">add</i>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 layout-row" *ngFor="let search of searches">

        <div class="card search-card">
          <div class="card-header card-header-rose">
            <div class="row">
              <div class="col-md-9">
                <h4 class="card-title card-title-trunc">{{ search.title }}</h4>
              </div>
              <div class="col-md-3">
                <mat-icon
                  class="pull-right right-align"
                  matTooltip="Delete Search"
                  [matTooltipPosition]="'below'"
                  style="cursor:pointer; color: #FFFFFF"
                  (click)="onDeleteSearch(search.searchUuid)"
                >delete_forever
                </mat-icon>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Search Parameters
            </h4>

            <app-mesh-term-chip-list
              [descriptors]="search.descriptors"
            ></app-mesh-term-chip-list>

            <br>
            <p class="card-description">
              Year-Range: {{ search.yearBeg + " - " + search.yearEnd }}
            </p>

            <button
              mat-raised-button
              class="btn btn-rose mat-raised-button pull-right"
              routerLink="results"
              (click)="onSeeResults(search.searchUuid)"
            >
              <span class="mat-button-wrapper">See Results</span>
            </button>

          </div>
        </div>
      </div>
    </div>

    <p class="card-description bottom-align">
      <small>
        Searches on fightfor.app contain U.S. National Library of Medicine (NLM) Medical
        Subject Heading (<a href="https://www.nlm.nih.gov/mesh/meshhome.html">MeSH</a>) terms.
        Please refer to our <a href="" [routerLink]="['/tos']">Terms of Service</a>.
      </small>
    </p>
  </div>
</div>
