<div class="main-content">

  <mat-spinner
    *ngIf="userConfigService.isLoadingUser | async"
    style="position:relative;top:50%;left:50%"
  ></mat-spinner>

  <div
    class="container-fluid"
    *ngIf="!(userConfigService.isLoadingUser | async)"
  >

    <div class="row">
      <h3>Recent Searches</h3>
    </div>
    <div class="row">

      <div class="col-md-4" *ngFor="let search of searches">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card new-search-card" (click)="onNewSearch()">
          <i class="material-icons">add</i>
        </div>
      </div>

        <div class="card search-card">
          <div class="card-header card-header-rose">
            <h4 class="card-title">{{ search.title }}</h4>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Search Parameters
              <mat-icon
                class="pull-right"
                matTooltip="Delete Search"
                [matTooltipPosition]="'below'"
                style="cursor:pointer; color: #999"
                (click)="onDeleteSearch(search.searchUuid)"
              >delete
              </mat-icon>
            </h4>

            <mat-chip-list>
              <mat-chip
                class="mat-standard-chip"
                style="font-size: 12px;"
                *ngFor="let descriptor of search.descriptors"
              >
                {{ descriptor.name }}
              </mat-chip>
            </mat-chip-list>

            <br>
            <p class="card-description">
              Year-Range: {{ search.yearBeg + " - " + search.yearEnd }}
            </p>

            <button
              mat-raised-button
              class="btn btn-rose mat-raised-button pull-right"
              routerLink="results"
              (click)="onSeeResults(search.searchUuid)"
            >
              <span class="mat-button-wrapper">See Results</span>
            </button>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
