.term-list-input {
  width: 100%;
}

/deep/ .irs-bar {
  background: #F65C50;
}

/deep/ .irs-slider {
  background: linear-gradient(#F65C50, #F65C50) center/2px 100% no-repeat;
}

/deep/ .irs-from {
  background: #F65C50;
}

/deep/ .irs-from:after {
  border-top-color: #F65C50;
}

/deep/ .irs-to {
  background: #F65C50;
}

/deep/ .irs-to:after {
  border-top-color: #F65C50;
}

/deep/ .irs-single {
  background: #F65C50;
}

/deep/ .irs-single:after {
  border-top-color: #F65C50;
}
