<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">add_circle</i>
            </div>
            <h4 class="card-title">Search</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <mat-form-field
                  [hintLabel]="'Set the search title (will be populated with the first selected descriptor if left blank)'"
                >
                  <input
                    matInput
                    type="text"
                    id="title"
                    formControlName="title"
                    placeholder="Search Title"
                  />
                </mat-form-field>

                <!--MeSH descriptors chip-input with autocomplete.-->
                <mat-form-field
                  class="term-list-input"
                  [hintLabel]="descriptorsSelected.length ? null: 'Enter terms you would like to search for and select the corresponding descriptors'"
                >
                  <mat-chip-list #descriptorsChipList>
                    <app-mesh-term-chip
                      *ngFor="let descriptor of descriptorsSelected"
                      [descriptor]="descriptor"
                      [selectable]="false"
                      [selected]="false"
                      [removable]="true"
                      [removeIcon]="'cancel'"
                      (removed)="onRemoveDescriptor(descriptor)"
                    ></app-mesh-term-chip>
                    <input
                      #inputDescriptors
                      type="text"
                      id="descriptors"
                      formControlName="descriptors"
                      placeholder="MeSH Descriptors"
                      [matAutocomplete]="descriptorsAutocomplete"
                      [matChipInputFor]="descriptorsChipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    />
                    <mat-error *ngIf="form.get('descriptors').touched && !descriptorsSelected.length">Please select at least one descriptor</mat-error>
                  </mat-chip-list>
                  <!--Autocomplete for conditions chip-input.-->
                  <mat-autocomplete
                    [autoActiveFirstOption]="true"
                    #descriptorsAutocomplete="matAutocomplete"
                    (optionSelected)="onDescriptorSelected($event)"
                  >
                    <mat-option *ngFor="let descriptor of descriptorsAll" [value]="descriptor">
                      {{ descriptor.name }} ({{ getIconClass(descriptor).category }})
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div class="row">

                <div class="col-md-4">
                  <label for="sliderYearRange">Year-Range</label>
                  <ion-range-slider
                    id="sliderYearRange"
                    #sliderYearRange
                    type="double"
                    [min]="studyStartDateRangeAll.dateBeg.getFullYear()"
                    [max]="studyStartDateRangeAll.dateEnd.getFullYear()"
                    [from]="studyStartYearRangeSelected.yearBeg"
                    [to]="studyStartYearRangeSelected.yearEnd"
                    style="width: 300px;"
                    [prettify_enabled]="false"
                    (onFinish)="onSliderYearRangeFinish($event)"
                  >
                  </ion-range-slider>
                </div>

                <div class="col-md-4">
                  <div class="row" style="margin-left: 0">
                    <label for="studySex">Patient Sex</label>
                  </div>
                  <div class="row" style="margin-left: 0">
                    <mat-radio-group
                      style="padding-top: 20px"
                      id="studySex"
                      type="radio"
                      formControlName="radioGender"
                    >
                      <mat-radio-button value="MALE">
                        Male&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button value="FEMALE">
                        Female&nbsp;&nbsp;
                      </mat-radio-button>
                      <mat-radio-button value="ALL">
                        All&nbsp;&nbsp;
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="sliderAgeRange">Age-Range</label>
                  <ion-range-slider
                    id="sliderAgeRange"
                    #sliderAgeRange
                    type="double"
                    [min]="studyEligibilityAgeRangeAll.ageBeg"
                    [max]="studyEligibilityAgeRangeAll.ageEnd"
                    [from]="studyEligibilityAgeRangeSelected.ageBeg"
                    [to]="studyEligibilityAgeRangeSelected.ageEnd"
                    style="width: 300px;"
                    [prettify_enabled]="false"
                    (onFinish)="onSliderAgeRangeFinish($event)"
                  >
                  </ion-range-slider>
                </div>

              </div>

              <div class="form-group">
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-rose mat-raised-button pull-right"
                  [disabled]="!descriptorsSelected.length"
                >
                  <span class="mat-button-wrapper">Search</span>
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer">
          </div>
        </div>

      </div>
    </div>
    <p class="card-description bottom-align"><small>
      This page contains U.S. National Library of Medicine (NLM) Medical Subject Heading
      (<a href="https://www.nlm.nih.gov/mesh/meshhome.html">MeSH</a>) terms.
      Please refer to our <a href="" [routerLink]="['/tos']">Terms of Service</a>.
    </small></p>
  </div>
</div>
