<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="!isLoading()">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">add_circle</i>
            </div>
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title">
                  Search
                </h4>
              </div>

              <div class="col-md-4">
                <button
                  mat-raised-button mat-min-fab
                  class="btn btn-rose btn-link btn-round btn-fab pull-right"
                  (click)="toggleSaved()"
                  [disableRipple]="true"
                  matTooltip="Save this search" [matTooltipPosition]="'left'"
                >
                  <i class="material-icons">{{ isSaved ? "favorite" : "favorite_border" }}</i>
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <!--Conditions chip-input with autocomplete.-->
                <mat-form-field class="term-list-input">
                  <mat-chip-list #descriptorsConditionsChipList>
                    <mat-chip
                      *ngFor="let descriptor of descriptorsFilterConditionsService.descriptorsSelected"
                      [selectable]="false"
                      [selected]="true"
                      [removable]="true"
                      (remove)="onRemoveDescriptorCondition(descriptor)"
                    >
                      {{ descriptor.name }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      type="text"
                      id="conditions"
                      formControlName="conditions"
                      placeholder="Condition/Disease"
                      [matAutocomplete]="descriptorsConditionsAutocomplete"
                      [matChipInputFor]="descriptorsConditionsChipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    />
                  </mat-chip-list>
                  <!--Autocomplete for conditions chip-input.-->
                  <mat-autocomplete
                    [autoActiveFirstOption]="true"
                    #descriptorsConditionsAutocomplete="matAutocomplete"
                    (optionSelected)="onDescriptorConditionSelected($event)"
                  >
                    <mat-option *ngFor="let descriptor of descriptorsConditionsFiltered" [value]="descriptor">
                      {{ descriptor.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div class="form-group">
                <!--Interventions chip-input with autocomplete.-->
                <mat-form-field class="term-list-input">
                  <mat-chip-list #descriptorsInterventionsChipList>
                    <mat-chip
                      *ngFor="let descriptor of descriptorsFilterInterventionsService.descriptorsSelected"
                      [selectable]="false"
                      [selected]="true"
                      [removable]="true"
                      (remove)="onRemoveDescriptorIntervention(descriptor)"
                    >
                      {{ descriptor.name }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      type="text"
                      id="interventions"
                      formControlName="interventions"
                      placeholder="Therapies/Interventions"
                      [matAutocomplete]="descriptorsInterventionsAutocomplete"
                      [matChipInputFor]="descriptorsInterventionsChipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    />
                  </mat-chip-list>
                  <!--Autocomplete for interventions chip-input.-->
                  <mat-autocomplete
                    [autoActiveFirstOption]="true"
                    #descriptorsInterventionsAutocomplete="matAutocomplete"
                    (optionSelected)="onDescriptorInterventionSelected($event)"
                  >
                    <mat-option *ngFor="let descriptor of descriptorsInterventionsFiltered" [value]="descriptor">
                      {{ descriptor.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div class="form-group">
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-rose mat-raised-button pull-right"
                >
                  <span class="mat-button-wrapper">Search</span>
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
