<div class="logo">
  <a class="simple-text logo-mini" href="#" routerLink="/features">
    <div class="logo-img">
      <img src="/assets/img/fflogo_white.png"/>
    </div>
  </a>
  <span class="badge badge-white">alpha</span>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/app/searches">
        <i class="material-icons">search</i>
        <p>Searches</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/app/trials">
        <i class="material-icons">local_pharmacy</i>
        <p>Trials</p>
      </a>
    </li>
  </ul>
</div>
