.privacy-header {
  color: black;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 1em;
}

.privacy-header-ol {
  color: black;
  font-weight: bold;
  padding-left: 0;
  z-index: 1;
  font-family: Helvetica;
  font-size: 1em;
}

.privacy-header-ol-sublist {
  color: black;
  z-index: 2;
  font-family: Helvetica;
  font-size: 1em;
  font-weight: normal;
}

.container-padding {
  padding: 5%;
  font-family: Helvetica;
  font-size: 1em;
}

.legal-text {
  color: black;
  z-index: 3;
  font-weight: normal;
  font-family: Helvetica;
}
