.badge-category {

  border-radius: 3px;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);

  i {
    font-size: 48px;
    border-radius: 50%;
    line-height: 80px;
    color: white;
  }

  p {
    font-size: 48px;
    border-radius: 50%;
    line-height: 80px;
    color: white;
    margin-bottom: 0;
  }


  &.primary {
    background-color: $brand-primary;
  }
  &.info {
    background-color: $brand-info;
  }
  &.success {
    background-color: $brand-success;
  }
  &.warning {
    background-color: $brand-warning;
  }
  &.danger {
    background-color: $brand-danger;
  }
  &.rose {
    background-color: $brand-rose;
  }
  &.white {
    background-color: $white-color;
  }
  &.outline {
    background-color: #E5E5E5;
  }

  > .badge-category-title {
    margin-top: 10px;
    width: 150px;
    transform: translateX(-35px);
    margin-left: auto;
    margin-right: auto;
  }

  > .badge-category-title-short {
    margin-top: 10px;
    width: 100px;
    transform: translateX(-10px);
    margin-left: auto;
    margin-right: auto;
  }
}

