<div class="wrapper wrapper-full-page wrapper-white">
  <div
    class="page-header pricing-page header-filter"
    style="background-image: url('../assets/img/homepage_background.jpg'); background-size: cover; background-position: top center;"
  >
    <div class="container">
      <div class="row">
        <div align="center" class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 col">
          <h2 style="color: black; text-align:center">
            <section class="rw-wrapper">
              <h2 class="rw-sentence">
                <span>Fight for</span>
                <div class="rw-words rw-words-1">
                  <span>health</span>
                  <span>happiness</span>
                  <span>well-being</span>
                  <span>strength</span>
                  <span>a cure</span>
                  <span>life</span>
                </div>
              </h2>
            </section>
          </h2>
          <h4 class="text-center" style="color: black">
            Find cutting edge research to help you fight for your health
          </h4>
          <a
            href="#features"
          >
            <button
              mat-raised-button
              type="button"
              class="btn btn-round btn-primary mat-raised-button btn-dark-blue"
            >
              <span class="mat-button-wrapper">See More</span>
            </button>
          </a>
          <button
            mat-raised-button
            type="button"
            class="btn btn-round btn-rose mat-raised-button"
            (click)="onLoginRegister()"
          >
            <span class="mat-button-wrapper">Sign Up</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-features" id="features">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mg-md">
          Discover your options
        </h3>
        <p>
          Browse through trials being conducted around the world or in a specific location to
          connect with cutting edge researchers who are looking for participants like you.
          <br>
          <br>Empower and inform your appointments with your health practitioners.
        </p>
      </div>
      <div class="col-md-6">
        <div class="mx-auto">
          <img src="../assets/img/2019.09.19 - Fightfor Screenshare - Filter studies_opt.gif"
               class="gif_shadow" alt="Find and filter clinical trials with Fight for"/>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-features">
    <div class="row">
      <div class="col-md-6">
        <div class="mx-auto">
          <img style="width: 100%" src="../assets/img/2019.09.19 - Fightfor Screenshare - UMLS translation_opt.gif"
               class="gif_shadow" alt="Translate complex medical language with Fight for"/>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="mg-md">
          We believe everyone should have the power to understand all the available treatment options
        </h3>
        <p>
          Search in plain English.
          <br>
          <br>Let Fight for do the translating for you.
        </p>
      </div>
    </div>
  </div>

  <div class="container container-features">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mg-md">
          Quickly understand conditions and treatments
        </h3>
        <p>
          Get quick definitions for condition and treatment terms to help you navigate clinical trials.
          <br>
          <br>Let fight for do the explaining for you.
        </p>
      </div>
      <div class="col-md-6">
        <div class="mx-auto">
          <img style="width: 100%" src="../assets/img/2019.09.19 - Fightfor Screenshare - MeSH definitions_opt.gif"
               class="gif_shadow" alt="Understand complex medical language with Fight for"/>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-features">
    <div class="row">
      <div class="col-md-6">
        <div class="mx-auto">
          <img style="width: 100%" src="../assets/img/2019.09.19 - Fightfor Screenshare - Find popular_new treatments and search_opt.gif"
               class="gif_shadow" alt="Find cutting edge and popular treatments"/>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="mg-md">
          Find the most popular and cutting edge treatments
        </h3>
        <p>
          Discover emerging and commonly trialled treatments for your condition.
          Then see what trials are running using these treatments on your condition.
        </p>
      </div>
    </div>
  </div>

  <div class="container container-features">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mg-md">
          Learn more about the trial and contact the recruiters
        </h3>
        <p>
          Once you find the trials that interest you, find crucial information about the trial explained so
          you can quickly determine yourself if the trial is right for you. If you want to participate or
          get more information, you can easily contact the trial recruiters with Fight for's pre-populated email template.
          Add more information as necessary about your specific health concerns to help secure your place in the trial.
        </p>
      </div>
      <div class="col-md-6">
        <div class="mx-auto">
          <img style="width: 100%" src="../assets/img/2019.09.19 - Fightfor Screenshare - Contact researchers_opt.gif"
               class="gif_shadow" alt="Save relevant trials for later"/>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 15%; margin-bottom: 10%">
    <div class="row">
      <div class="offset-md-4 col-3 col-md-1">
        <div class="text-center">
          <a class="icon-social" href="https://blocsapp.com/"><i class="fab fa-lg fa-twitter"></i></a>
        </div>
      </div>
      <div class="col-3 col-md-1">
        <div class="text-center">
          <a class="icon-social" href="https://blocsapp.com/"><span class="fab fa-lg fa-facebook-f"></span></a>
        </div>
      </div>
      <div class="col-3 col-md-1">
        <div class="text-center">
          <a class="icon-social" href="https://blocsapp.com/"><span class="fab fa-lg fa-linkedin-in"></span></a>
        </div>
      </div>
      <div class="col-3 col-md-1">
        <div class="text-center">
          <a class="icon-social" href="https://blocsapp.com/"><span class="fa fa-lg fa-envelope"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
