<div class="wrapper wrapper-full-page wrapper-white">
  <div
    class="page-header pricing-page header-filter"
    style="background-image: url('../assets/img/homepage_background.jpg'); background-size: cover; background-position: top center;"
  >
    <div class="container">
      <div class="row">
        <div align="center" class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 col">
          <h2 style="color: black; text-align:center">
            <section class="rw-wrapper">
              <h2 class="rw-sentence">
                <span>Fight for</span>
                <div class="rw-words rw-words-1">
                  <span>health</span>
                  <span>happiness</span>
                  <span>well-being</span>
                  <span>strength</span>
                  <span>a cure</span>
                  <span>life</span>
                </div>
              </h2>
            </section>
          </h2>
          <h4 class="text-center" style="color: black">
            Find cutting edge research to help you fight for your health
          </h4>
          <a
            href="#features"
          >
            <button
              mat-raised-button
              type="button"
              class="btn btn-round btn-primary mat-raised-button btn-dark-blue"
            >
              <span class="mat-button-wrapper">See More</span>
            </button>
          </a>
          <button
            mat-raised-button
            type="button"
            class="btn btn-round btn-rose mat-raised-button"
            (click)="onLoginRegister()"
          >
            <span class="mat-button-wrapper">Sign Up</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <section class="light_container">
    <div class="container container-features light_container" id="features">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="bold_h3">
            HOW IT WORKS
          </h3>
          <h4 class="narrow_h4">
            See the Fight for alpha demo video
          </h4>
          <hr class="hr">
        </div>
        <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center video_margin">
          <iframe
            width="50vw"
            src="https://www.youtube.com/embed/C-Bj_7Gyaw4"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

  <div class="container container-features" id="features">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="bold_h3">
          EXPAND YOUR OPTIONS AND EMPOWER YOUR CHOICES
        </h3>
        <h4 class="narrow_h4">
          Fight for makes it easier to find cutting-edge treatments and clinical trials to empower conversations with
          your healthcare professional.
        </h4>
        <hr class="hr">
      </div>
      <div class="col-md-4 layout-row">
        <div class="card" style="background-color: white">
          <div class="card-header card-header-danger">
            <h4 class="card-title card-title-trunc">Search in English</h4>
          </div>
          <div class="card-body">
            <img src="../../assets/img/UMLS Translation.png" alt="Search clinical trials in plain English" class="feature_image">
          </div>
          <div class="card-footer">
            <h4>
              Search using terms you know and let Fight for do the translating for you.
            </h4>
          </div>
        </div>
      </div>
        <div class="col-md-4 layout-row">
          <div class="card" style="background-color: white">
            <div class="card-header card-header-danger">
              <h4 class="card-title card-title-trunc">Understand your options</h4>
            </div>
            <div class="card-body feature_image_div">
              <img src="../../assets/img/MeSH Definition Modal.png" alt="Easily define complicated terms" class="feature_image">
            </div>
            <div class="card-footer">
              <h4>
                Get quick definitions for complex treatment terms.
              </h4>
            </div>
          </div>
        </div>
          <div class="col-md-4 layout-row">
            <div class="card" style="background-color: white">
              <div class="card-header card-header-danger">
                <h4 class="card-title card-title-trunc">Discover new treatments</h4>
              </div>
              <div class="card-body">
                <img src="../../assets/img/New and Top Treatments.png" alt="Find popular and cutting-edge treatments" class="feature_image">
              </div>
              <div class="card-footer">
                <h4>
                  Discover emerging and commonly trialled treatments for your condition.
                </h4>
              </div>
            </div>
          </div>
    </div>
  </div>


  <section class="light_container">
  <div class="container container-features light_container" id="features">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="bold_h3">
          SEARCH WORLDWIDE TRIALS WITH DETAILS SIMPLIFIED
        </h3>
        <h4 class="narrow_h4">
          Search and filter trials to the ones relevant to you. Then see simplified details of the clinical trials and contact the researchers directly to see if you are eligible.
        </h4>
        <hr class="hr">
      </div>
      <div class="col-md-4 layout-row">
        <div class="card" style="background-color: white">
          <div class="card-header card-header-danger">
            <h4 class="card-title card-title-trunc">Worldwide trials</h4>
          </div>
          <div class="card-body">
            <img src="../../assets/img/Locations.png" alt="Search clinical trials in plain English" class="feature_image">
          </div>
          <div class="card-footer">
            <h4>
              Search and filter trials all over the world.
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 layout-row">
        <div class="card" style="background-color: white">
          <div class="card-header card-header-danger">
            <h4 class="card-title card-title-trunc">Trial details explained</h4>
          </div>
          <div class="card-body feature_image_div">
            <img src="../../assets/img/Simple trial overview.png" alt="Easily define complicated terms" class="feature_image">
          </div>
          <div class="card-footer">
            <h4>
              Fight for explains complex trial information, like trial phases and types.
            </h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 layout-row">
        <div class="card" style="background-color: white">
          <div class="card-header card-header-danger">
            <h4 class="card-title card-title-trunc">See the treatments you could receive</h4>
          </div>
          <div class="card-body">
            <img src="../../assets/img/Study groups.png" alt="Find popular and cutting-edge treatments" class="feature_image">
          </div>
          <div class="card-footer">
            <h4>
              Quickly understand what treatments you could receive in the trial.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="offset-md-4 col-3 col-md-1">
        <div class="text-center">
          <a class="icon-social" href="https://twitter.com/Fightfor_app"><i class="fab fa-lg fa-twitter"></i></a>
        </div>
      </div>
      <div class="col-3 col-md-1">
        <div class="text-center">
          <a class="icon-social" href="https://www.facebook.com/Fight-for-101996114539793/"><span class="fab fa-lg fa-facebook-f"></span></a>
        </div>
      </div>
      <div class="col-3 col-md-1">
        <div class="text-center">
          <a class="icon-social" href="https://www.linkedin.com/company/fightfor-app"><span class="fab fa-lg fa-linkedin-in"></span></a>
        </div>
      </div>
      <div class="col-3 col-md-1">
        <div class="text-center">
          <a class="icon-social" href="mailto:support@fightfor.app"><span class="fa fa-lg fa-envelope"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
