

.mbp-img {
  width: 100%;
}

.btn-dark-blue {
  margin-right: 20px !important;
}

.container-features {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
  align-content: center;
}

.wrapper-white {
  background-color: white;
}

.icon-social {
  color: #F65C50;
  font-size: xx-large
}

.rw-wrapper {
  width: 100%;
  position: relative;
  padding: 10px;
}

.rw-sentence {
  margin: 0;
  text-align: left;
}

.rw-sentence span {
  font-size: 110%;
  font-weight: normal;
}

.rw-words {
  display: inline;
  text-indent: 10px;
}

.rw-words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #F65C50;
  -webkit-animation: rotateWord 12s linear infinite 0s;
  -ms-animation: rotateWord 12s linear infinite 0s;
  animation: rotateWord 12s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: #F65C50;
}

.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #F65C50;
}

.rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: #F65C50;
}

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .rw-sentence {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .rw-sentence {
    font-size: 9px;
  }
}

.gif_shadow{
  box-shadow: 10px 10px 5px grey;
  width: 120%;
}

.white_h3{
  font-weight: bold;
  color: #ffffff;
}

.white_h4{
  color: white;
}

.bold_h3{
  font-weight: bold;
  padding-left: 20%;
  padding-right: 20%;
}

.bold_h3_left{
  font-weight: bold;
}

.narrow_h4{
  padding-left: 20%;
  padding-right: 20%;
}

.video_margin{
  margin: 0% 15% 5% 15%;
}

.light_container{
  background-color: #FAFAFA;
  margin-top: 3%;
}

.hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  width: 10em;
}

.feature_image_div{
  box-shadow: 25px 25px 50px 0 white inset;
}

.feature_image{
  max-width: 100%;
  max-height: 100%;
}

.layout-row{
  display: flex;
  align-items: stretch;
}
