<mat-spinner
  *ngIf="meshDescriptorRetrieverService.isLoadingGetMeshDescriptorByUi | async"
  style="position:relative;top:50%;left:50% "
></mat-spinner>
<div
  *ngIf="!(meshDescriptorRetrieverService.isLoadingGetMeshDescriptorByUi | async)"
>
  <div class="row">
    <div class="col-md-12">
      <h3>{{ descriptor.name }}</h3>
      <p>Create a new search on this term</p>
      <mat-icon
        style="cursor:pointer; color: #999; position: relative"
        (click)="onNavigateToNewSearch()"
      >search
      </mat-icon>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <i [class]="'fa fa-lg ' + getIconClass().iconClass"></i>
      <h4>{{ getIconClass().category }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div [innerHTML]="concatenateDefinition(definitions[0])"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-accordion [multi]="false">
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Other definitions
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div
            class="card-description definitions"
            *ngIf="definitions.length > 1"
          >
            <div
              *ngFor="let definition of definitions | slice:1"
              [innerHTML]="concatenateDefinition(definition)"
            ></div>
          </div>
          <div
            class="card-description definitions"
            *ngIf="definitions.length === 1"
          >
            <div>
              No additional definitions available.
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="card-description"><small>
        The information displayed here has been taken from <a href="https://meshb.nlm.nih.gov">meshb.nlm.nih.gov</a> - identifier {{ descriptorUi }}. More information is available at <a href="https://meshb.nlm.nih.gov/record/ui?ui={{ descriptorUi }}">https://meshb.nlm.nih.gov/record/ui?ui={{ descriptorUi }}</a> and <a href="https://www.nlm.nih.gov/research/umls/index.html">UMLS</a>.
        </small></p>
    </div>
  </div>
</div>
