<div
  class="mat-progress-spinner-container"
  *ngIf="meshDescriptorRetrieverService.isLoadingGetMeshDescriptorByUi | async"
>
  <mat-spinner></mat-spinner>
</div>
<div
  class="card"
  *ngIf="!(meshDescriptorRetrieverService.isLoadingGetMeshDescriptorByUi | async)"
>
  <div class="card-header card-header-icon card-header-rose">
    <div class="card-icon">
        <i [class]="'fa fa-lg ' + getIconClass().iconClass"></i>
      </div>
    <div class="row">
      <div class="col-md-8">
        <h4 class="card-title">{{ getIconClass().category }}</h4>
      </div>
      <div class="col-md-4 col-actions">
        <button
          mat-raised-button
          type="button"
          class="btn btn-rose btn-round btn-just-icon btn-link mat-raised-button btn-fab"
          (click)="onNavigateToNewSearch()"
          [disableRipple]="true"
        >
          <mat-icon
            class="action-icon"
            (click)="onNavigateToNewSearch()"
          >search
          </mat-icon>
        </button>
        <button
          mat-raised-button
          type="button"
          class="btn btn-rose btn-round btn-just-icon btn-link mat-raised-button btn-fab"
          (click)="dialogRef.close()"
          [disableRipple]="true"
        >
          <mat-icon
            class="action-icon"
            (click)="dialogRef.close()"
          >close
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <h3 class="card-title">{{ descriptor.name }}</h3>
        <p [innerHTML]="concatenateDefinition(definitions[0])"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-accordion [multi]="false">
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Other definitions
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div
              class="card-description definitions"
              *ngIf="definitions.length > 1"
            >
              <div
                *ngFor="let definition of definitions | slice:1"
                [innerHTML]="concatenateDefinition(definition)"
              ></div>
            </div>
            <div
              class="card-description definitions"
              *ngIf="definitions.length === 1"
            >
              <div>
                No additional definitions available.
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="stats">
      <p class="card-description"><small>
        This window presents information extracted from the U.S. National Library of Medicine (NLM) Unified Medical Language System
        (<a href="https://www.nlm.nih.gov/research/umls/index.html">UMLS</a>) and Medical Subject Headings
        (<a href="https://meshb.nlm.nih.gov">MeSH</a>) - identifier {{ descriptorUi }}.
        More information is available at
        <a href="https://meshb.nlm.nih.gov/record/ui?ui={{ descriptorUi }}">https://meshb.nlm.nih.gov/record/ui?ui={{ descriptorUi }}</a>
        and <a href="https://www.nlm.nih.gov/research/umls/index.html">UMLS</a>.
      </small></p>
    </div>

  </div>
</div>
